@import "./colors";

$font: "Space Grotesk", sans-serif;

.container {
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
  // padding: 0 30px
}

.white {
  color: white;
}

.h1-text {
  font-family: $font;
  font-size: 50px;
}

.h2-text {
  font-family: $font;
  font-size: 30px;
  text-decoration: underline;
}

.body-text {
  font-family: $font;
  color: $colorDark;
  text-decoration: none;
  margin: 0;

  &_lighten {
    color: lighten($colorDark, 30);
  }
  &_title {
    font-weight: bold;
    font-size: 20px;
  }
}

.list {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}
